<footer class="footer">
    <div class="container">
      <div class="widget-wrapper">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-6">
            <div class="footer-widget">
              <div class="logo mb-30">
                <a href="index.html">
                  <img src="assets/img/logo/nart_beyaz.svg" alt="Nart Gaz" />
                </a>
              </div>
              <p class="desc mb-30 text-white" data-en="The perfect harmony of control, safety, and efficiency. Nart Gaz adds value to its business partners with its expertise and reliability in industrial gas solutions.">
                Kontrol, güvenlik ve verimliliğin mükemmel uyumu. Nart Gaz, endüstriyel gaz çözümlerinde uzmanlığı ve güvenilirliğiyle iş ortaklarına değer katmaktadır.
              </p>
              <ul class="socials">
                <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                <li><a href="javascript:void(0)"><i class="lni lni-twitter-filled"></i></a></li>
                <li><a href="javascript:void(0)"><i class="lni lni-instagram-filled"></i></a></li>
                <li><a href="https://www.linkedin.com/company/n-a-r-t-gaz-ltd-şti̇/"><i class="lni lni-linkedin-original"></i></a></li>
              </ul>
            </div>
          </div>

          <div class="col-xl-2 col-lg-2 col-md-6">
            <div class="footer-widget">
              <h3 data-en="Corporate">Kurumsal</h3>
              <ul class="links">
                <li><a href="index.html#home" data-en="Home">Anasayfa</a></li>
                <li><a href="index.html#features" data-en="Features">Özellikler</a></li>
                <li><a href="about.html" data-en="About Us">Hakkımızda</a></li>
                <li><a href="index.html#why" data-en="Why Us?">Neden Biz?</a></li>
              </ul>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6">
            <div class="footer-widget">
              <h3 data-en="Policies">Politikalar</h3>
              <ul class="links">
                <li><a href="privacy.html" data-en="Privacy Policy">Gizlilik Politikası</a></li>
                <li><a href="javascript:void(0)" data-en="Terms of Use">Kullanım Şartları</a></li>
                <li><a href="javascript:void(0)" data-en="Cookie Policy">Çerez Politikası</a></li>
              </ul>
            </div>
          </div>

          <div class="col-xl-3 col-lg-3 col-md-6">
            <div class="footer-widget">
              <h3 data-en="Product Groups">Ürün Grupları</h3>
              <ul class="links">
                <li><a href="products.html" data-en="Regulators">Regülatörler</a></li>
                <li><a href="products.html" data-en="Gas Valves">Gaz Vanaları</a></li>
                <li><a href="products.html" data-en="Measuring Equipment">Ölçüm Ekipmanları</a></li>
              </ul>
              Distributed by <a href="https://themewagon.com" target="_blank" style="color: #bfc7d7">ThemeWagon</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>